[Desktop Entry]
Type=Application
Name=Ghidra
Comment=A software reverse engineering (SRE) framework
Exec={{ ghidra_install_path.stdout }}/ghidraRun %f
Icon={{ ghidra_install_path.stdout }}/support/ghidra.ico
Categories=Development;Engineering
Terminal=false
StartupNotify=true
