---

- name: directories
  become: true
  become_user: sjas
  file:
    dest: /home/sjas/{{ item }}
    state: directory
    mode: 0775
  with_items:
    - .config
    - desktop
    - dl
    - doc
    - dp
    - dw
    - etc
    - etc/.dotfiles
    - go
    - img
    - .local
    - .local/bin
    - .local/share/applications
    - .local/share/appimage
    - mnt
    - mp3
    - n
    - nc
    - opt
    - pub
    - py
    - templates
    - vid
    - wrk
    - wrk/py
    - wrk/rust
    - wrk/golang
    - wrk/forks
    - wrk/clones

- name: directories
  file:
    dest: /{{ item }}
    state: directory
    mode: 0775
  with_items:
    - asdf
    - qwer
    - zxcv

- name: remove obsolete directories
  file:
    dest: /home/sjas/{{ item }}
    state: absent
  with_items:
    - Desktop
    - Downloads
    - Templates
    - Public
    - Documents
    - Music
    - Pictures
    - Videos

- name: fix up folders with kde
  become: true
  become_user: sjas
  copy:
    src: user-dirs.dirs
    dest: /home/sjas/.config
    mode: 0664

- name: fix up folder encoding
  become: true
  become_user: sjas
  copy:
    src: user-dirs.locale
    dest: /home/sjas/.config
    mode: 0664
