---

- name: system upgrade
  import_tasks: 0x01_dist-upgrade.yml
  tags: common,distupgrade

- name: base software
  import_tasks: 0x02_packages.yml
  tags: common,packages

- name: working folders
  import_tasks: 0x03_working-folders.yml
  tags: common,workingfolders

- name: ntp
  import_tasks: 0x04_ntp.yml
  tags: common,ntp

- name: ansible-lint
  import_tasks: 0x05_ansible-lint.yml
  tags: common,lint

- name: sysctls
  import_tasks: 0x06_sysctls.yml
  tags: common,sysctls

# - name: dnsmasq
#   import_tasks: 0x07_dnsmasq.yml
#   tags: common,dnsmasq

- name: HaskLig font
  import_tasks: 0x08_hasklig.yml
  tags: common,hasklig

- name: systemd user folder
  import_tasks: 0x09_systemd_user_folder.yml
  tags: common

- name: long live /etc/rc.local
  import_tasks: 0x0a_rc_local.yml
  tags: common,rclocal

# - name: pipewire
#   import_tasks: 0x0b_pipewire.yml
#   tags: common,pipewire

- name: baloo
  import_tasks: 0x0c_baloo.yml
  tags: common,baloo

- name: pip
  import_tasks: 0x0d_python-packages-via-pip.yml
  tags: common,pip
