[Desktop Entry]
Version=1.0
Name=Shutter
GenericName=Screenshot Tool
Comment=Capture, edit and share screenshots
Exec=shutter --min_at_startup
Icon=shutter
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
Hidden=false
