---

# yamllint disable rule:line-length

# https://unix.stackexchange.com/questions/132308/changing-kdes-mouse-theme-and-buttons-settings-from-a-shell-script

# this stuff bases on libinput not libevdev because i dont need that
# /usr/share/X11/xorg.conf.d/40-libinput.conf or similar if i were to switch libinput->libevdev
# https://help.ubuntu.com/community/MouseCustomizations#Evdev_Driver
# libevdev config(?) from kcminputrc
# [Mouse]
# Acceleration=1
# AccelerationProfile=true
# MouseButtonMapping=RightHanded
# ReverseScrollPolarity=false
# Threshold=0
# XLbInptPointerAcceleration=-0.6
# cursorSize=24
# cursorTheme=breeze_cursors

## mouse ####################################################################################################
- name: imwheel package
  apt:
    cache_valid_time: 7200
    name: imwheel

# - name: mouse kcminputrc
#   become: true
#   become_user: sjas
#   ini_file:
#     path: /home/sjas/.config/kcminputrc
#     create: true
#     mode: 0664
#     no_extra_spaces: true
#     section: "{{ item.section }}"
#     option: "{{ item.option }}"
#     value: "{{ item.value }}"
#   with_items:
#     # - { section: "Mouse", option: "XLbInptPointerAcceleration", value: "-0.525" }
#     # - { section: "Mouse", option: "XLbInptPointerAcceleration", value: "-0.225" }
#     - { section: "Mouse", option: "XLbInptPointerAcceleration", value: "-3.525" }
#     - { section: "Mouse", option: "XLbInptAccelProfileFlat", value: "false" }
#     - { section: "Mouse", option: "X11LibInputXAccelProfileFlat", value: "false" }
#   notify: kcminit

# - name: mouse kcminputrc
#   become: true
#   become_user: sjas
#   ini_file:
#     path: /home/sjas/.config/kcminputrc
#     create: true
#     mode: 0664
#     no_extra_spaces: true
#     section: "{{ item.section }}"
#     option: "{{ item.option }}"
#     value: "{{ item.value }}"
#   with_items:
#     - { section: "Mouse", option: "XLbInptPointerAcceleration", value: "-1" }
#     - { section: "Mouse", option: "XLbInptAccelProfileFlat", value: "false" }
#     - { section: "Mouse", option: "X11LibInputXAccelProfileFlat", value: "false" }
#   notify: kcminit

# to persists, you have to add first line to autostart
# kde settings: startup and shutdown >> autostart >> add >> add application >> ...
# cat ~/.xsessionrc
# xinput set-prop 11 "libinput Accel Profile Enabled" 0 0 1
# xinput set-prop 11 "libinput Accel Custom Motion Step" 0.2
# xinput set-prop 11 "libinput Accel Custom Motion Points" 0.003 0.004 0.008 0.018 0.036 0.052 0.080 0.120 0.200 0.482 0.571 0.659 0.748 0.837 0.926 1.014 1.103 1.192 1.281 1.369 1.458 1.56
# xinput set-prop 11 "libinput Accel Custom Motion Points" 0.002 0.004 0.008 0.016 0.032 0.064 0.128 0.256 0.512 1.024 1.2 1.4 1.55
# xinput set-prop 11 "libinput Accel Custom Motion Points" 0.008 0.016 0.032 0.064 0.128 0.256 0.512 0.768 1.024 1.2 1.4 1.55
#
#
#
# sudo cat  /etc/cron.d/xinput
#
# PATH="/home/sjas/.nvm/versions/node/v23.7.0/bin:/usr/lib/cargo/bin:/home/sjas/go/bin:/usr/local/go/bin:/home/sjas/.cargo/bin:/home/sjas/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
# MAILTO=""
#
# * * * * * sjas xinput set-prop 11 "libinput Accel Profile Enabled" 0 0 1
# * * * * * sjas xinput set-prop 11 "libinput Accel Custom Motion Step" 0.2
# #* * * * * sjas xinput set-prop 11 "libinput Accel Custom Motion Points" 0.008 0.016 0.032 0.064 0.128 0.256 0.512 0.768 1.024 1.2 1.4 1.55
# #xinput set-prop 11 "libinput Accel Custom Motion Points" 0.008 0.016 0.064 0.128 0.256 0.512 0.768 1.024 1.2 1.4 1.55
# * * * * * sjas xinput set-prop 11 "libinput Accel Custom Motion Points" 0.008 0.016 0.064 0.128 0.256 0.512 0.768 1.024 1.2 1.4 1.54


- name: fix up imwheel as a user service
  copy:
    src: imwheel.service
    dest: /home/sjas/.config/systemd/user/
    owner: sjas
    group: sjas
    mode: 0664
  notify: imwheel_restart

- name: systemd daemon reload
  become: true
  become_user: sjas
  systemd:
    daemon_reload: true
    scope: user
  notify: imwheel_restart

- name: start imwheel user service
  become: true
  become_user: sjas
  systemd:
    name: imwheel.service
    scope: user
    state: restarted
    enabled: true
    masked: false
  changed_when: false

- name: mouse - fix buttons and scroll speed
  become: true
  become_user: sjas
  copy:
    src: .imwheelrc
    dest: /home/sjas/.imwheelrc
    mode: 0664
  notify: imwheel_restart

- name: mouse kwinrc
  become: true
  become_user: sjas
  ini_file:
    path: /home/sjas/.config/kwinrc
    create: true
    mode: 0664
    no_extra_spaces: true
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items:
    - { section: "Windows", option: "FocusPolicy", value: "FocusFollowsMouse" }
    # - { section: "Windows", option: "NextFocusPrefersMouse", value: "true" }
    - { section: "Windows", option: "DelayFocusInterval", value: "200" }
    - { section: "Windows", option: "AutoRaise", value: "false" }
    - { section: "Windows", option: "AutoRaiseInterval", value: "1100" }
    - { section: "MouseBindings", option: "CommandAllKey", value: "Alt" }
    # - { section: "MouseBindings", option: "CommandAll1", value: "Toggle raise and lower" }
    - { section: "MouseBindings", option: "CommandAll2", value: "Minimize" }
    # - { section: "MouseBindings", option: "CommandAll3", value: "Move" }
    - { section: "MouseBindings", option: "CommandAllWheel", value: "Change Opacity" }

# - name: mouse kdeglobals
#   become: true
#   become_user: sjas
#   ini_file:
#     path: /home/sjas/.config/kdedefaults/kdeglobals
#     create: true
#     mode: 0664
#     no_extra_spaces: true
#     section: "{{ item.section }}"
#     option: "{{ item.option }}"
#     value: "{{ item.value }}"
#   with_items:
#     - { section: "KDE", option: "ScrollbarLeftClickNavigatesByPage", value: "false" }
#     - { section: "KDE", option: "SingleClick", value: "false" }
#
## #cant fix this because khotkeysrc is replaced globally
## - name: open files by doubleclick yes really
##   become: true
##   become_user: sjas
##   ini_file:
##     path: /home/sjas/.config/khotkeysrc
##     create: true
##     mode: 0664
##     no_extra_spaces: true
##     section: KDE
##     option: SingleClick[$d]
#
## keyboard #################################################################################################
- name: keyboard - kcminputrc
  become: true
  become_user: sjas
  ini_file:
    path: /home/sjas/.config/kcminputrc
    create: true
    mode: 0664
    no_extra_spaces: true
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items:
    - { section: "Keyboard", option: "RepeatDelay", value: "200" }
    - { section: "Keyboard", option: "RepeatRate", value: "100" }
  notify: kcminit

## us altgr-intl (aka us international no dead keys gibts eig. überall vorinstalliert)
## EurKey -> https://eurkey.steffen.bruentjen.eu/?lang=de  Hier liegt ö ü besser und mehr Tasten belegt
# - name: keyboard kxkbrc
#   become: true
#   become_user: sjas
#   ini_file:
#     path: /home/sjas/.config/kxkbrc
#     create: true
#     mode: 0664
#     no_extra_spaces: true
#     section: "{{ item.section }}"
#     option: "{{ item.option }}"
#     value: "{{ item.value }}"
#   with_items:
#     - { section: "Layout", option: "LayoutList", value: "us" }
#     - { section: "Layout", option: "Options", value: "caps:ctrl_modifier" }
#     - { section: "Layout", option: "ResetOldOptions", value: "true" }
#     - { section: "Layout", option: "Use", value: "true" }
#     - { section: "Layout", option: "VariantList", value: "altgr-intl" }

# - name: plasma locale
#   become: true
#   become_user: sjas
#   copy:
#     src: "{{ item }}"
#     dest: /home/sjas/.config
#     mode: 0664
#   with_items:
#     - plasma-localerc
