---

# TERMINALS
# terminator
#   start terminator fullscreen
#   r
#   terminator -m
# uxterm
#   start a faster terminal with a specified size
#   t
#   uxterm -sl 100000 +cm -cn -j -rw -s +samename -u8 -geometry 100x42 -fn "-misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1"
#
# UTILS
# dolphin: dl
#   dolphin in /home/sjas/dl
#   e
#   dolphin /home/sjas/dl
# controlpanel
#   controlpanel
#   i
#   systemsettings
# keepassxc  ## https://askubuntu.com/questions/703628/how-to-close-minimize-and-maximize-a-specified-window-from-terminal
#   xdotool windowactivate $(xdotool search --pid $(ps aux|grep keepass|grep -v grep|awk '{print $2}'))||keepassxc
#   k
#   keepassxc
# shutter
#   shutter
#   print
#   shutter -s
# vscode
#   vscode
#   x
#   code
#
# BROWSERS
# firefox
#   firefox
#   v
#   firefox
# chrome
#   chrome
#   c
#   google-chrome-stable %U
# chromium
#   chromium
#   n
#   chromium-browser %U
# edge
#   edge
#   m
#   microsoft-edge-stable
# brave
#   brave
#   b
#   brave-browser-stable
#
# EMAIL
# evolution
#   evolution
#   f
#   evolution %U
# thunderbird
#   thunderbird
#   g
#   thunderbird
#
# MESSENGERS
# telegram
#   telegram
#   y
#   telegram-desktop
# signal
#   signal
#   s
#   signal-desktop
# whatsapp
#   whatsie
#   h
#   whatsie
# teams
#   teams
#   u
#   teams %U
#

# - name: deploy shortcut files 1
#   become: true
#   become_user: sjas
#   copy:
#     src: khotkeysrc
#     dest: /home/sjas/.config
#     mode: 0664
#
# - name: deploy shortcut files 2
#   become: true
#   become_user: sjas
#   copy:
#     src: kglobalshortcutsrc
#     dest: /home/sjas/.config
#     mode: 0664
