---

- name: podman packages from official repos
  apt:
    cache_valid_time: 7200
    name:
      - podman
#       - podman-docker

# - name: docker apt signing key
#   apt_key:
#     url: "https://download.docker.com/linux/ubuntu/gpg"
#     state: present
#     keyring: "/etc/apt/keyrings/docker.asc"

- name: docker apt signing key
  get_url:
    url: "https://download.docker.com/linux/ubuntu/gpg"
    dest: "/etc/apt/keyrings/docker.asc"
    mode: '0644'
    force: true

- name: docker repo
  apt_repository:
    repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu noble stable
    state: present
    filename: docker

- name: update apt cache
  apt:
    cache_valid_time: 7200
    update_cache: true

- name: docker-compose-plugin package from docker repo
  apt:
    cache_valid_time: 7200
    name:
      - docker-compose-plugin

- name: no rootful podman
  systemd_service:
    name: "{{ item }}"
    # enabled: true
    # state: started
    enabled: false
    state: stopped
  loop:
    - podman
  changed_when: false

- name: no rootful podman socket
  systemd_service:
    name: "{{ item }}"
    # enabled: true
    # state: started
    enabled: false
    state: stopped
  loop:
    - podman.socket

- name: rootless podman
  become: true
  become_user: sjas
  systemd_service:
    name: "{{ item }}"
    scope: user
    enabled: true
    state: started
    # enabled: false
    # state: stopped
  loop:
    - podman
  changed_when: false

- name: rootless podman socket
  become: true
  become_user: sjas
  systemd_service:
    name: "{{ item }}"
    scope: user
    enabled: true
    state: started
    # enabled: false
    # state: stopped
  loop:
    - podman.socket

- name: enable lingering for user service
  become: true
  become_user: sjas
  command: "/usr/bin/loginctl enable-linger"
  args:
    creates: /var/lib/systemd/linger/sjas

# - name: sjas into docker group
#   user:
#     name: sjas
#     append: true
#     groups: docker
#   notify: user_group_added

- name: suppress docker cli emulation message
  copy:
    content: ""
    dest: /etc/containers/nodocker
