---

- name: containerlab repository
  apt_repository:
    repo: deb [trusted=yes] https://netdevops.fury.site/apt/ /
    state: present
    filename: containerlab

- name: install containerlab
  apt:
    cache_valid_time: 7200
    autoclean: true
    autoremove: true
    update_cache: true
    name: containerlab

- name: pull docker srlinux image
  become: true
  become_user: sjas
  containers.podman.podman_image:
    name: ghcr.io/nokia/srlinux
