---

- name: podman packages
  apt:
    cache_valid_time: 7200
    name:
      - podman
      - podman-docker
      - docker-compose

- name: enable podman socket so docker-compose works
  systemd:
    name: podman.socket
    enabled: true
    state: started

- name: suppress docker cli emulation message
  copy:
    content: ""
    dest: /etc/containers/nodocker

- name: containerlab repository
  apt_repository:
    repo: deb [trusted=yes] https://netdevops.fury.site/apt/ /
    state: present
    filename: containerlab

- name: install containerlab
  apt:
    cache_valid_time: 7200
    autoclean: true
    autoremove: true
    update_cache: true
    name: containerlab

- name: pull docker srlinux image
  community.docker.docker_image:
    name: ghcr.io/nokia/srlinux
    source: pull
