---

# - name: install bettercap
#   import_tasks: 0x01_bettercap.yml
#   tags: networking,bettercap

- name: install wireshark
  import_tasks: 0x02_wireshark.yml
  tags: networking,wireshark

# - name: vpn clients include
#   import_tasks: 0x03_vpn_clients.yml
#   tags: networking,vpn,forti

- name: libvirt include
  import_tasks: 0x04_libvirt.yml
  tags: networking,virt

- name: podman include
  import_tasks: 0x05_podman.yml
  tags: networking,docker

- name: containerlab include
  import_tasks: 0x06_clab.yml
  tags: networking,docker,containerlab,clab

- name: k8s include
  import_tasks: 0x07_k8s.yml
  tags: networking,k8s,kubernetes

# - name: vpn clients include
#   import_tasks: 0x03_vpn_clients.yml
#   tags: networking,vpn,forti
