---

- name: microsoft apt signing key
  apt_key:
    url: "https://packages.microsoft.com/keys/microsoft.asc"
    state: present
    keyring: /etc/apt/keyrings/microsoft.gpg

- name: edge repo
  apt_repository:
    repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/microsoft.gpg] https://packages.microsoft.com/repos/edge/ stable main
    state: present
    filename: microsoft-edge

- name: update apt cache
  apt:
    cache_valid_time: 7200
    update_cache: true

- name: Install microsoft-edge-stable
  apt:
    name: "microsoft-edge-stable"
    state: latest
    update_cache: true
